@charset "UTF-8";

:root{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;

    --background-color: #1b1b1b;
    --main-background-color: rgba(41, 41, 41, 0.7);
    --main-color: #e6e6f5;
    --main-border-color: #292929;
}

body{
    width: 2500px;

    margin: 0;
    padding: 0;
    color: var(--main-color);
    background: var(--background-color);

    overflow: hidden;
}

/* scrollbar
------------- */
body::-webkit-scrollbar{
    width: 0.75rem;
}

body::-webkit-scrollbar-track{
    background: #292929;
}

body::-webkit-scrollbar-thumb{
    background: #5269af;
}

/* all
------------- */
*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

ul li{
    list-style: none;
    padding-left: 0;
}

ul{
    padding: 0;
    margin: 0;
}
/*-----------------*/
header{
    background-color: var(--main-background-color);
    border-radius: 10px;
    top: 1px;
    width: 100%;
    position: fixed;
    z-index: 100000;
}

header a{
    color: var(--main-color);
    text-decoration: none;
}
/*меню*/
.menu_background{
    background-image: url("../img/backgraund.jpg");
    background-repeat: no-repeat;
    background-position: 0 -10px;
}

.menu{
    max-width: 200px;
    display: inline-block;
    position: fixed;
    top: 20%;
    left: 5%;
}

.menu_title{
    font-family: serif;
    font-size: 45px;
    padding: 0 0 0 20px;
    position: fixed;
    top: 8%;
    left: 5%;
}

.menu-btn{
    font-size: 15px;
    border-radius: 6px;
    border: none;
    width: 150px;
    padding: 15px 30px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.1s;
}

.menu-btn:hover{
    opacity: 0.8;
}

/*игра*/
.cells{
    margin: 70px 0 70px 70px;
    font-size: 0;
}

.cell{
    background-image: url(../img/grass.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 68px;
    width: 68px;
    background-color: #379417;
    /*border-bottom: solid rgba(88, 88, 88, 0.5) 1px;*/
    /*border-right: solid rgba(88, 88, 88, 0.5) 1px;*/
    transition: 0.1s;
    color: rgba(255, 255, 255, 0)
}

.cell:hover{
    opacity: 0.9;
}

.hills0{
    background-image: url(../img/hills1.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.hills1{
    background-image: url(../img/hills2.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.hills2{
    background-image: url(../img/hills3.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.gold_ore{
    background-image: url(../img/gold_hills1.jpg);
    color: var(--main-color);
}

.town_hall{
    background-image: url(../img/town_hall.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.town_hall:hover{
    color: var(--main-color);

}

.farm{
    background-image: url(../img/farm.jpg)
}

.mine0{
    background-image: url(../img/mine_hils3.jpg)
}
.mine1{
    background-image: url(../img/mine_hils3.jpg)
}
.mine2{
    background-image: url(../img/mine_hils3.jpg)
}

.control_panel{
    padding: 10px 10px;
    width: 100%;
    position: fixed;
    bottom: 0;

    background-color: rgba(67, 60, 60, 0.7);
    z-index: 100000;
}

.resource{
    font-size: 18px;
    padding: 0 10px;
    display: inline-block;
}

.people{
    position: fixed;
    right: 1px;
}

.build_menu-btn{
    font-size: 16px;
    border-radius: 6px;
    border: none;
    padding: 15px 30px;
    margin-right: 5px;
    transition: 0.2s;
}
.build_menu-btn:hover{
    background-color: #838383;
}

.turn_menu-btn{
    font-size: 16px;
    border-radius: 6px;
    border: none;
    padding: 15px 50px;
    transition: 0.2s;
    position: fixed;
    right: 10px;
}
